.header {
    margin: 0;
    padding: 0;
}

.header h3 {
    font-size: 1.3em;
    font-weight: normal;
}

.header-subtitle {
    display: flex !important;
    justify-content: space-between !important;
    margin-bottom: 4px !important;
    align-items: flex-end !important;
    align-content: flex-end !important;
}

.color-title {
    margin-bottom: 1px;
    margin-left: 3px;
    text-align: center;
    color: #4646ab;
    border-bottom: 1px solid rgba(0, 57, 171, 0.224) !important;
    border: none;
    padding: 0;
}

.hr {
    margin: 0;
    height: 1px;
    border-radius: 5px;
    border: none;
    padding: 0;
    margin-bottom: 5px !important;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.margin {
    background: transparent !important;
    padding: 0 !important;
    margin-bottom: 30px;
    padding-top: 5px !important;
    border-radius: 5px;
}

.margin-chartjs {
    display: flex !important;
    flex-direction: row !important;
    background: transparent !important;
    padding: 0 !important;
    margin-top: -30px;
    margin-bottom: 30px;
}

@media(max-width: 848px) {
    .margin-chartjs {
        gap: 10px !important;
        flex-direction: column !important;
        align-content: center;
    }

    .col-md-6 {
        flex: 1 !important;
    }
}

.order-card {
    color: #fff !important;
}

.bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-pink {
    background: linear-gradient(45deg, #FF5370, #ff869a);
}

.card {
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(4, 26, 55, 0.119) !important;
    border: none;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.icon-background {
    top: 32px;
    right: 6px;
    position: absolute;
    z-index: 0;
    font-size: 72pt;
    color: rgba(255, 255, 255, 0.14) !important;
}

.card .card-block {
    padding: 40px 13px;
}

.order-card i {
    color: white;
}

.data-value {
    font-size: 12pt;
    color: rgb(255, 255, 255) !important;
    font-family: sans-serif;
}

.fa-coins {
    font-size: 15pt !important;
    font-family: sans-serif;
}

.font-p {
    text-shadow: 1px 1px 1px rgba(152, 152, 152, 0.259) !important;
    font-size: 11pt;
    font-family: sans-serif;
}

.f-left {
    color: white !important;
    float: left;
}

.f-right {
    color: white !important;
    float: right;
}

.title-card {
    font-size: 12pt;
    text-shadow: none !important;
    font-weight: normal;
    font-family: sans-serif;
}

.button {
    margin-top: 10px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 30px;
    min-width: 60px;
    background-color: #8686c4;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(4, 26, 55, 0.344) !important;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.04);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: #5d5d87;
    text-decoration: none;
    color: white;
}