<div *ngIf="relatorio else louding">
    <div class="container-components">
        <app-mensagens></app-mensagens>
        <div class="header">
            <h3><i class="fa-solid fa-chart-simple"></i> DASHBOARD</h3>
            <hr class="hr">
        </div>
        <div class="row margin">
            <div class="col-md-4">
                <div class="card bg-c-blue order-card">
                    <i class="fa-solid fa-server icon-background"></i>
                    <div class="card-block">
                        <h6 class="title-card"> Receita</h6>
                        <h2 class="text-right data-value">
                            <i class="fa-solid fa-clipboard-check f-left"></i>
                            <span>{{ReturnDinheiroFormat(relatorio.valTotReceitas)}}</span>
                        </h2>
                        <p class="font-p">Valor efetuado<span class="f-right">{{ReturnDinheiroFormat(relatorio.valTotEfetuadoReceita)}}</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-c-pink order-card">
                    <i class="fa-solid fa-server icon-background"></i>
                    <div class="card-block">
                        <h6 class="title-card">Despesa</h6>
                        <h2 class="text-right data-value">
                            <i class="fa-solid fa-clipboard-check f-left"></i>
                            <span>{{ReturnDinheiroFormat(relatorio.valTotDespesas)}}</span>
                        </h2>
                        <p class="font-p">Valor efetuado<span class="f-right">{{ReturnDinheiroFormat(relatorio.valTotEfetuadoDespesa)}}</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-c-green order-card">
                    <i class="fa-solid fa-server icon-background"></i>
                    <div class="card-block">
                        <h6 class="title-card">Balancete financeiro</h6>
                        <h2 class="text-right data-value">
                            <i class="fa fa-refresh f-left"></i>
                            <span>{{ReturnBalancete()}}</span>
                        </h2>
                        <p class="font-p">Base usada<span class="f-right">Receita e despesa</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin">
            <div class="col-md-12">
                <div class="header header-subtitle">
                    <h3 class="color-title">
                        Financeiro analytics
                    </h3>
                </div>
            </div>
        </div>
        <div class="row margin-chartjs">
            <div class="col-md-6">
                <app-financeiro-analytics [relatorioInput]="relatorio"></app-financeiro-analytics>
            </div>
            <div class="col-md-6">
                <app-financeiro-baranalytics [relatorioInput]="relatorio"></app-financeiro-baranalytics>
            </div>
        </div>
        <div class="row margin">
            <div class="col-md-12">
                <div class="header" style="display: flex; justify-content: space-between; margin-bottom: 4px; align-items: flex-end; align-content: flex-end;">
                    <h3 class="color-title">
                        Contratos analytics
                    </h3>
                    <button class="btn button" (click)="AbrirModalContratos()" title="Relatórios">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-download" viewBox="0 0 16 16">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="row margin-chartjs">
            <div class="col-md-6"><app-grafico-contratos [relatorioInput]="relatorio"></app-grafico-contratos></div>
            <div class="col-md-6"><app-grafico-moneycontrato [relatorioInput]="relatorio"></app-grafico-moneycontrato></div>
        </div>
        <div class="row margin">
            <div class="col-md-12">
                <div class="header header-subtitle">
                    <h3 class="color-title">
                        Clientes analytics
                    </h3>
                </div>
            </div>
        </div>
        <div class="row margin-chartjs">
            <div class="col-md-6"><app-grafico-clientes [relatorio]="relatorio"></app-grafico-clientes></div>
            <div class="col-md-6"><app-grafico-percentualcliente [relatorioInput]="relatorio"></app-grafico-percentualcliente></div>
        </div>
    </div>
</div>
<ng-template #louding>  
    <div class="container-components">
        <div class="main-louding">
            <div class="louding">
                <img src="assets/Imagens/logobus.png" alt="espere..." class="logoLouding">
                <div class="animation-bar"></div>
            </div>
        </div>
    </div>
</ng-template>