<div class="container-components">
    <app-mensagens></app-mensagens>
    <div class="header">
        <h3 [class.red-color]="inativosSelect">
            <i class="fa-solid fa-clipboard-list fa-shake" style="font-size: 16pt;"></i> {{tituloPag}}
        </h3>
        <hr class="hr">
    </div>
    <div class="container-buttons">
        <div>
            <button class="btn button grenn" (click)="GetContratosAtivos()">Ativos</button>
            <button class="btn button red" (click)="GetContratosInativos()">Inativos</button>
        </div>
        <div>
            <a class="btn button grenn" routerLink="/contrato" data-target="#gerarRelatorio" data-toggle="modal"><i class="fa fa-print"></i>Gerar docs</a>
            <a class="btn button blue" routerLink="/contrato/newcontrato"><i class="fa fa-plus"></i> Contrato</a>
        </div>
    </div>
    <div class="table-container">
        <div *ngIf="contratoList.length else listnull">
            <div class="pesquisa-container">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Pesquisar na tabela."
                    formControlName="pesquisa" required>
            </div>
            <table class="table" #tabela>
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Clientes</th>
                        <th scope="col" *ngIf="!larguraMinima">Qt. clien&shy;tes</th>
                        <th scope="col" *ngIf="!larguraMinima">Vencimento</th>
                        <th scope="col">Valor total</th>
                        <th scope="col" *ngIf="!larguraMinima">Pagamento</th>
                        <th scope="col">Aprovação</th>
                        <th scope="col" *ngIf="!larguraMinima">Andamento</th>
                        <th scope="col">Opção</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-hover" *ngFor="let item of contratoList">
                        <td>{{item.id!}}</td>
                        <td><a routerLink="/contrato" class="link" (click)="consultClientes(item)"><i class="fa fa-users"></i></a></td>
                        <td *ngIf="!larguraMinima">{{item.clientesContrato!.length}}</td>
                        <td *ngIf="!larguraMinima">{{returnDataFormatada(item.dataVencimento)}}</td>
                        <td>{{returnDinheiro(item.valorMonetario)}}</td>
                        <td *ngIf="!larguraMinima">{{returnTypePagamento(item.pagament!)}}</td>
                        <td>{{returnAprovacao(item.aprovacao!)}}</td>
                        <td *ngIf="!larguraMinima">{{returnAndamento(item.andamento!)}}</td>
                        <td *ngIf="item.statusContrato == 0; else itemInativo">
                            <a *ngIf="item.aprovacao != 2; else encerradoedit"  class="link" routerLink="/contrato/edit/{{item.id}}"><i class="fa fa-edit"></i></a>
                            <ng-template #encerradoedit> <a class="link disabled"><i class="fa fa-edit"></i></a></ng-template>
                            <a routerLink="/contrato" class="link link-trash" (click)="gerirContrato(item)"><i class="fa fa-trash-alt"></i></a>
                            <a routerLink="/contrato" class="link link-roxo"  *ngIf="item.andamento === 1" (click)="impressoes(item)"><i class="fa fa-print"></i></a>
                            <a *ngIf="item.andamento == 2" class="link disabled"><i class="fa fa-print"></i></a>

                            <a routerLink="/contrato" class="link link-green" *ngIf="item.aprovacao === 0" (click)="aprovacaoContrato(item)"><i class="fa fa-sliders"></i></a>
                            <a routerLink="/contrato" class="link link-verde" *ngIf="item.aprovacao === 1" (click)="aprovacaoContrato(item)"><i class="fa fa-circle-check"></i></a>        
                        </td>
                        <ng-template #itemInativo>
                            <td>
                                <a routerLink="/contrato"  class="link" (click)="gerirContrato(item)"><i class="fa fa-search"></i></a>
                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
            <div class="pagination" *ngIf="!inativosSelect; else paginateInativos">
                <li class="page-item anterior" [class.disabled]="compartilhamento.getPaginaAtualContrato() == 1">
                    <a class="page-link shadow-sm" tabindex="-1" (click)="anteriorAtivosPaginate()"><i class="fa fa-arrow-left"></i></a>
                </li>
                <li class="page-item disabled">
                    <p class="page-link shadow-sm">
                        {{compartilhamento.getPaginaAtualContrato()}}/{{compartilhamento.getTotPaginaContrato()}}</p>
                </li>
                <li class="page-item proximo"
                    [class.disabled]="compartilhamento.getPaginaAtualContrato() == compartilhamento.getTotPaginaContrato()">
                    <a class="page-link shadow-sm" tabindex="-1" (click)="proximoAtivosPaginate()"><i class="fa fa-arrow-right"></i></a>
                </li>
            </div>
            <ng-template #paginateInativos>
                <div class="pagination">
                    <li class="page-item anterior" [class.disabled]="compartilhamento.getPaginaAtualContrato() == 1">
                        <a class="page-link shadow-sm" tabindex="-1" (click)="anteriorInativosPaginate()"><i class="fa fa-arrow-left"></i></a>
                    </li>
                    <li class="page-item disabled">
                        <p class="page-link shadow-sm">
                            {{compartilhamento.getPaginaAtualContrato()}}/{{compartilhamento.getTotPaginaContrato()}}
                        </p>
                    </li>
                    <li class="page-item proximo"
                        [class.disabled]="compartilhamento.getPaginaAtualContrato() == compartilhamento.getTotPaginaContrato()">
                        <a class="page-link shadow-sm" tabindex="-1" (click)="proximoInativosPaginate()"><i class="fa fa-arrow-right"></i></a>
                    </li>
                </div>
            </ng-template>
        </div>
        <ng-template #listnull>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Clientes</th>
                        <th scope="col" *ngIf="!larguraMinima">Quant. clien&shy;tes</th>
                        <th scope="col" *ngIf="!larguraMinima">Vencimento</th>
                        <th scope="col">Valor total</th>
                        <th scope="col" *ngIf="!larguraMinima">Pagamento</th>
                        <th scope="col">Aprovação</th>
                        <th scope="col" *ngIf="!larguraMinima">Andamento</th>
                        <th scope="col">Opção</th>
                    </tr>
                </thead>
                <tr class="row-hover">
                    <td colspan="9">{{mensagem}}</td>
                </tr>
            </table>
        </ng-template>
    </div>
    <div id="gerarRelatorio" class="modal fade">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><i class="fa fa-bus fa-bounce"></i> Gerar relatórios</h4>
              <button type="button" class="close-mod" data-dismiss="modal" aria-label="Close">
                <i class="fa fa-close"></i>
              </button>
            </div>
            <div class="modal-body">
              <p>
                Baixe os dados em planilhas Excel ou emita relatórios em PDF para potencializar seu negócio.
              </p>
            </div>
            <div class="modal-footer">
              <a class="btn button blue" routerLink="/contrato" data-dismiss="modal"><i class="fa fa-file-export"></i> PDF</a>
              <a class="btn button grenn" routerLink="/contrato" data-dismiss="modal" (click)="RelatorioExcel()"><i class="fa fa-file-excel"></i> Excel</a>
            </div>
          </div>
        </div>
      </div>
</div>
