@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Numans');

i {
    font-size: 15pt;
}

  
.header {
    margin: 0;
    padding: 0;
  }
  
  .header h3 {
    font-size: 1.3em;
    font-weight: normal;
    color: #2b2b2bba !important;
  }
  
  .hr {
    margin: 0;
    height: 2px;
    background-color: #2b2b2bba !important;
    border-radius: 5px;
    border: none;
    padding: 0;
  }

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.body-bus {
    background-color: #ffffff;
}

.row {
    margin-top: 10px;
}

.upercase {
    color: white;
    text-transform: uppercase;
}

.altura-minima-container {
    min-height: 210px;
}

.card {
    margin: auto;
    background-color: transparent;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(177, 176, 176, 0.5);
}

.card-title {
    font-family: 'Numans', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #2b2b2bba;
}

.font {
    font-size: 14pt;
    font-weight: normal;
    color: darkslategray;
}

.font2 {
    font-size: 14pt;
    font-weight: normal;
    color: darkslategray;
}

.font-min {
    padding: 0px;
    font-size: 10.5pt;
    color: darkslategray
}

.card-text {
    text-align: justify;
    font-size: 11pt;
}

.btn-outline-primary {
    background-color: aliceblue;
    font-size: 9pt;
    padding: 5px;
    width: 115px;
    transition: 01s;
}

.btn-outline-primary:hover {
    border: 1px solid rgb(0, 109, 144);
}

#janelaModalConfirm {
    margin-top: 5px;
    background-color: #0000003b;
}

#titlePrincipal {
    width: 100%;
    margin: 0px;
    margin-top: 5px;
    font-size: 12pt;
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
    color: #2b2b2bba;
}

.foote {
    width: 100%;
    padding-top: 57px;
    margin-bottom: -11px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.foote2 {
    width: 100%;
    padding-top: 57px;
    margin-bottom: -11px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#radius-none {
    border-radius: 2px;
}


input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.main-louding {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.logoLouding {
    width: 150px;
    height: 150px;
}

.animation-bar {
    width: 150px;
    height: 2px;
    overflow: hidden;
    margin-top: -12px;
    position: relative;
    background-color: #cecece;
}

.animation-bar::before {
    content: "";
    width: 110px;
    background-color: #00228e;
    position: absolute;
    height: 2px;
    left: -40px;
    animation: animation 1.5s infinite ease;
}


.button {
    margin-top: 10px;
    margin: 1px;
    padding: 8px 7px;
    min-width: 125px;
    background-color: #1f1f33;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: translateY(-1px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(40, 40, 40);
    text-decoration: none;
    color: white;
}

.red {
    background-color: darkred;
}

.red:hover {
    background-color: #5f1401;
}

.blue {
    background-color: rgba(0, 0, 139, 0.812);
}

.blue:hover {
    background-color: rgb(0, 0, 98);
}

.grenn {
    background-color: rgba(10, 135, 10, 0.812);
}

.grenn:hover {
    background-color: rgb(7, 83, 7);
}

@keyframes animation {
    50% {
        left: 76px;
    }
}
@media (max-width: 650px) {
    .button{
        min-width: 100px;
        font-size: 6pt;
    }
}