<div class="modal-header">
    <h4 class="modal-title">Notificações</h4>
    <button type="button" class="close-mod" (click)="modalService.close()">
            <i class="fa fa-close"></i>
    </button>
</div>
<div class="modal-body">
    <div class="list" *ngIf="listNotificacoes.length else notfound">
        <div *ngFor="let item of listNotificacoes">
            <div class="item-noti">
                <div class="card-icon"><i class="fa-regular fa-bell"></i></div>
                <div class="text-container">
                    <p class="text">{{item.conteudo}}</p>
                </div>
            </div>
            <div class="item-noti2">
                <div class="text2">{{ReturnDaysOrHours(item.data!)}}.</div>
            </div>
        </div>
    </div>
    <ng-template #notfound>
        <div class="list">
            <p class="text" style="text-align: center;">{{textoInformation}}</p>
        </div>
    </ng-template>
</div>
<div class="modal-footer">
    <p style="font-size: 10pt;" class="text" *ngIf="listNotificacoes.length > 0">
        {{ReturnQtsLembretes()}}
    </p>
</div>
