<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-bus"></i> Confirmação - {{fornecedor.nameOrRazaoSocial}}</h4>
    <button type="button" class="close-mod" (click)="activeModal.dismiss()">
        <i class="fa fa-close"></i>
    </button>
</div>
<div class="modal-body with-shadow">
    <p>
        <strong>Deseja realmente {{textStatus}} este fornecedor?</strong>
    </p>
    <div class="position">
        <p>
            <strong>Nome/Razão social: </strong> {{fornecedor.nameOrRazaoSocial}}<br>
            <strong>CPF/CNPJ</strong> : {{ReturnCpfOrCnpj()}} <br>
            <strong>Telefone: </strong> ({{fornecedor.ddd}}) {{fornecedor.telefone}}<br>
            <strong>Estado: </strong> {{fornecedor.estado}} <br>
            <strong>Bairro: </strong> {{fornecedor.bairro}}
        </p>
        <p>
            <strong>Classe: </strong> {{(fornecedor.typePessoa == 0) ? "Pessoa física": "Pessoa jurídica"}} <br>
            <strong>Data do fornecedor: </strong> {{ReturnDateFormatado()}} <br>
            <strong>E-mail: </strong> {{fornecedor.email}}<br>
            <strong>Cidade: </strong> {{fornecedor.cidade}} <br>
            <strong>Número residencial: </strong> {{fornecedor.numeroResidencial}}
        </p>
    </div>
</div>
<div class="modal-footer">
    <button id="enviar" type="submit" class="btn button blue" (click)="ActionModal()">Confirmar</button>
    <button type="button" class="btn button red" (click)="activeModal.dismiss()">Fechar</button>
</div>