.header .red-color {
  color: red;
}
#largura-card {
  width: 81px !important;
}
.header {
  margin: 0;
  padding: 0;
}

.header h3 {
  font-weight: normal;
  color: #4646ab;
}

.hr {
  margin: 0;
  height: 2px;
  background-color: rgb(0, 58, 171);
  border-radius: 5px;
  border: none;
  padding: 0;
}

.container-buttons {
  margin: 5px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button {
  margin-top: 10px;
  margin: 1px;
  padding: 9px 7px;
  min-width: 150px;
  background-color: #1f1f33;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(40, 40, 40);
  text-decoration: none;
  color: white;
}

.table-container {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.table {
  margin: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(177, 176, 176, 0.5);
}

.table thead {
  color: white;
  height: 25px !important;
}

.table th {
  font-size: 9pt;
  text-align: center;
}

.table tr {
  padding: 15px;
  text-align: center;
}

.table .row-hover:hover {
  background-color: #f7f7f7f7;
}

.table td {
  margin: 0;
  padding: 10px 0;
  font-size: 9pt;
  text-align: center;
}

td {
  overflow-wrap: break-word
}

.pagination {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pagination li {
  font-size: 10pt;
  text-align: center;
  width: 80px;
}

.anterior a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.proximo a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.link {
  font-size: 11pt;
  margin: 0 13px;
}

.link-trash {
  font-size: 10pt;
  color: red;
  transition: .4s;
}

.link-trash:hover {
  color: darkred;
}

.link-orange {
  color: rgb(255, 119, 0);
}

.link-orange:hover {
  color: rgb(189, 88, 0);
}

.link-green {
  color: rgb(3, 230, 204);
}

.link-green:hover {
  color: darkgreen;
}

/* Estilização geral do modal */
.modal {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* permite rolar a tela quando o modal estiver aberto */
  background-color: rgba(0, 0, 0, 0.4);
  /* fundo semi-transparente */
}

/* Conteúdo do modal */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  display: flex;
  /* usa flexbox para centralizar o conteúdo verticalmente */
  flex-direction: column;
  /* alinha o conteúdo verticalmente */
  justify-content: center;
  /* centraliza o conteúdo verticalmente */
}

/* Efeito de transição do modal */
.modal {
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Efeito de transição do conteúdo do modal */
.modal-content {
  animation-name: slideIn;
  animation-duration: 0.4s;
}

.modal-header {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.modal-title {
  font-size: 12pt;
  font-weight: bold;
  color: #4e4f6a;
  text-align: center;
}

.modal-body p {
  font-size: 11pt;
}

/* Botão de fechar */
.close-mod {
  position: absolute;
  right: 23px;
  top: 20px;
  background-color: #e24343;
  border: none;
  border-radius: 10px;
  width: 39px;
  height: 36px;
  color: white;
  transition: 0.5s;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
}

.close-mod:hover {
  color: white;
  background-color: darkred;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.7);
}

/* Efeito de transição do modal */
.modal {
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  padding: 0px;
  padding-top: 10px;
}


@media(max-width: 740px) {
  .pagination li {
    text-align: center;
    width: 80%;
  }

  .table {
    width: 100%;
  }

  .table td {
    font-size: 8pt;
  }

  .table th {
    font-size: 7pt;
  }

  .link {
    font-size: 8pt;
  }

  .button {
    font-size: 6pt;
    min-width: 65px;
  }
}