<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active sidebar-fixed">
        <h1 style="margin-top: 0px;"><a class="logo"><i class="fa fa-bus"></i></a></h1>
        <ul class="list-unstyled components mb-4" style="margin-bottom: 0px;">
            <li class="linha">
                <a routerLink="/"><span class="fa-sharp fa-solid fa-house-medical"></span> Home</a>
            </li>
            <li class="linha">
                <a routerLink="/"><span class="fa fa-users"></span> Clientes</a>
            </li>
            <li class="linha">
                <a routerLink="/"><span class="fa fa-user-group"></span> Forne&#x00AD;cedores</a>
            </li>
            <li class="linha">
                <a routerLink="/"><span class="fa fa-users-gear"></span> Funcio&#x00AD;nários</a>
            </li>
            <li class="linha">
                <a routerLink="/frota"><span class="fa-solid fa-bus"></span> Frota</a>
            </li>
            <li class="linha" style="margin-bottom: 7px;">
                <a routerLink="/"><span class="fa fa-file-contract"></span> Contratos</a>
            </li>
            <li class="linha">
                <a routerLink="/"><span class="fa fa-right-from-bracket" style="font-size: 14pt;"></span> Sair</a>
            </li>
        </ul>
        <div class="footer">
            <p style="text-align: justify;">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> <a href="" class="text-white"
                    style="text-decoration: underline;">Todos os direitos reservados.</a> | <a href=""
                    class="text-white" style="text-decoration: underline;">Política de uso da aplicação.</a>
            </p>
        </div>
    </nav>
    <!-- Page Content  -->
    <div id="content" class="p-0 p-md-0">
        <nav class="navbar navbar-expand-lg menu-superior">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-primary btn-collapse">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item linha">
                            <a class="nav-link linkMenu" routerLink="/"><i class="fa fa-file-contract"
                                    style="margin-right: 3px;"></i>
                                Relatórios
                            </a>
                        </li>
                        <li class="nav-item linha">
                            <a class="nav-link linkMenu clear-filtros" routerLink="/"><i class="fa fa-dollar-sign"
                                    style="margin-right: 3px;"></i>
                                Financeiro
                            </a>
                        </li>
                        <li class="nav-item linha">
                            <a class="nav-link linkMenu" style="color: transparent; opacity: 0;">#</a>
                        </li>
                        <li class="nav-item linha">
                            <a class="nav-link linkMenu upercase" data-toggle="modal"
                                data-target="#janelaModalPerfil" routerLink="/">
                                <i class="fa fa-user-tie" style="margin-right: 3px;"></i>
                                Antonio Marques
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>
