<div class="container-auth" *ngIf="!loudingActive else louding">
    <form class="card" (ngSubmit)="Autenticar()" [formGroup]="loginForm" #formDir="ngForm" method="post">
        <app-mensagens></app-mensagens>
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="input-group form-group">
                <div class="input-group-prepend2">
                    <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Informe seu CPF." maxlength="14"
                    onkeypress=" if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;"
                    asp-for="Cpf" mask="000.000.000-00" formControlName="cpf">
                <i class="i" *ngIf="formDir.submitted && cpf.invalid">
                    <small class="errorMsg" *ngIf="cpf.errors?.['required']">
                        Obrigatório!
                    </small>
                    <small class="errorMsg" *ngIf="cpf.errors?.['minlength']">Campo inválido!</small>
                </i>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend2">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="{{typeSenha}}" class="form-control" placeholder="Informe sua senha." asp-for="Senha"
                    id="senha" formControlName="senha">
                <div class="container-pass">
                    <a routerLink="/login" class="link icon-pass" (click)="OcultarMostrarSenha()">
                        <i class="fa-regular fa-eye" *ngIf="iconSenha else iconNotSenha"></i>
                        <ng-template #iconNotSenha>
                            <i class="fa-regular fa-eye-slash"></i>
                        </ng-template>
                    </a>
                </div>
                <i class="i" *ngIf="senha.invalid && formDir.submitted">
                    <small class="errorMsg" *ngIf="senha.errors?.['required']">
                        Obrigatório!
                    </small>
                </i>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn button">Entrar</button>
            <a routerLink="/esqueceuSenha" class="link">Esqueceu sua senha?</a>
        </div>
    </form>
</div>
<ng-template #louding>  
    <div class="container-auth">
        <div class="main-louding">
            <div class="louding">
                <img src="assets/Imagens/logobus.png" alt="espere..." class="logoLouding">
                <div class="animation-bar"></div>
            </div>
        </div>
    </div>
</ng-template>