<div class="container-components">
    <app-mensagens></app-mensagens>
    <div class="header">
        <h3 [class.red-color]="inativosSelect">
            <i class="fa fa-bus"></i>
            {{tituloPag}}
        </h3>
        <hr class="hr">
        <div class="container-buttons">
            <div>
                <button class="btn button grenn" (click)="listAtivos()">Ativos</button>
                <button class="btn button red" (click)="listInativos()">Inativos</button>
            </div>
            <div>
                <a class="btn button blue" routerLink="/funcionario/newfuncionario"><i class="fa fa-plus"></i>
                    Funcionário</a>
            </div>
        </div>
    </div>
    <div class="table-container">
        <div *ngIf="funcionarioList.length else listnull">
            <table class="table shadow-sm p-3 mb-5 bg-white rounded">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col" *ngIf="!larguraMinima">E-mail</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Opção</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of funcionarioList">
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.telefone}}</td>
                        <td *ngIf="!larguraMinima">{{item.email}}</td>
                        <td>{{ReturnCargoFuncionario(item.cargo)}}</td>
                        <td *ngIf="item.status == 0 else funcionarioInativo">
                            <a class="link" routerLink="/funcionario/editfuncionario/{{item.id}}"><i class="fa fa-edit"></i></a>
                            <a routerLink="/funcionario" class="link link-trash"><i class="fa fa-trash-alt" (click)="ModalGerirFuncionario(item)"></i></a>
                            <a class="link disabled" *ngIf="item.cargo == 0" style="color: gray;"><i class="fa fa-user-times"></i></a>
                            <a routerLink="/funcionario" (click)="ModalGerirUsuario(item)" class="link link-orange" *ngIf="item.statusUsuario == 1 && item.cargo != 0"><i class="fa fa-user-times"></i></a>
                            <a routerLink="/funcionario" (click)="ModalGerirUsuario(item)" class="link link-green" *ngIf="item.statusUsuario == 0 && item.cargo != 0"><i class="fa fa-user-check"></i></a>
                        </td>
                        <ng-template #funcionarioInativo>
                            <td>
                                <a routerLink="/funcionario" (click)="ModalGerirFuncionario(item)" class="link"><i class="fa fa-user-gear"></i></a>
                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
            <div class="pagination" *ngIf="!inativosSelect; else paginateInativos">
                <li class="page-item anterior" [class.disabled]="compartilhamento.getPaginaAtualFuncionario() == 1">
                    <a class="page-link shadow-sm" tabindex="-1" (click)="anteriorAtivosPaginate()"><i
                            class="fa fa-arrow-left"></i></a>
                </li>
                <li class="page-item disabled">
                    <p class="page-link shadow-sm">
                        {{compartilhamento.getPaginaAtualFuncionario()}}/{{compartilhamento.getTotPaginaFuncionario()}}
                    </p>
                </li>
                <li class="page-item proximo"
                    [class.disabled]="compartilhamento.getPaginaAtualFuncionario() == compartilhamento.getTotPaginaFuncionario()">
                    <a class="page-link shadow-sm" tabindex="-1" (click)="proximoAtivosPaginate()"><i
                            class="fa fa-arrow-right"></i></a>
                </li>
            </div>
            <ng-template #paginateInativos>
                <div class="pagination">
                    <li class="page-item anterior" [class.disabled]="compartilhamento.getPaginaAtualFuncionario() == 1">
                        <a class="page-link shadow-sm" tabindex="-1" (click)="anteriorInativosPaginate()"><i
                                class="fa fa-arrow-left"></i></a>
                    </li>
                    <li class="page-item disabled">
                        <p class="page-link shadow-sm">
                            {{compartilhamento.getPaginaAtualFuncionario()}}/{{compartilhamento.getTotPaginaFuncionario()}}
                        </p>
                    </li>
                    <li class="page-item proximo"
                        [class.disabled]="compartilhamento.getPaginaAtualFuncionario() == compartilhamento.getTotPaginaFuncionario()">
                        <a class="page-link shadow-sm" tabindex="-1" (click)="proximoInativosPaginate()"><i
                                class="fa fa-arrow-right"></i></a>
                    </li>
                </div>
            </ng-template>
        </div>
        <ng-template #listnull>
            <table class="table shadow-sm p-3 mb-5 bg-white rounded">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col" *ngIf="!larguraMinima">E-mail</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Opção</th>
                    </tr>
                </thead>
                <tr class="row-hover">
                    <td colspan="7">{{mensagem}}</td>
                </tr>
            </table>
        </ng-template>
    </div>
</div>