.alert {
  padding: 8px 10px;
  gap: 5px;
  position: absolute;
  z-index: 1;
  min-width: 343px !important;
  max-width: 500px !important;
  min-height: 50px !important;
  background-color: #ffffff;
  color: #fe5757;
  top: 0.4em;
  font-size: 10pt;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  right: 16px;
  display: flex;
  align-items: center;
  align-content: center;
}

@media(max-width: 500px) {
  .alert {
    min-width: 80% !important;
  }
}


.form-check {
  font-size: 10.2pt;
  margin-bottom: 10px;
  position: relative;
}

.form-check-input {
  color: #5353a1;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-check-input:checked~.form-check-label:before {
  background-color: #ffffff;
  border-color: #ffffff;
}

.form-check-label {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
}

.form-check-label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #ced4da;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.form-check-input:checked~.form-check-label:before {
  background-color: #ffffff;
  border-color: #5353a1;
}


.form-check-input:checked~.form-check-label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  width: 12px;
  /* Definindo 60% do tamanho do círculo padrão */
  height: 12px;
  /* Definindo 60% do tamanho do círculo padrão */
  border-radius: 50%;
  background-color: #5353a1;
  color: #5353a1;
  transition: all 0.3s ease;
}

/*Desabilitando a borda de botões que usar esta classe*/
.btn-link {
  border: none;
}

.header {
  margin: 0;
  padding: 0;
}

.header h3 {
  font-size: 1.3em;
  font-weight: normal;
  color: rgb(0, 58, 171);
}

.hr {
  margin: 0;
  height: 2px;
  background-color: rgb(0, 58, 171);
  border-radius: 5px;
  border: none;
  padding: 0;
}

.container-form {
  margin-top: 10px;
}

.col-md-12 {
  display: flex;
  align-items: center;
}

.container-opcoes {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin-left: -1px;
  margin-right: -1px;
}

.button {
  margin-top: 10px;
  margin: 1px;
  padding: 9px 7px;
  min-width: 170px;
  background-color: #1f1f33;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(40, 40, 40);
  text-decoration: none;
  color: white;
}

.link {
  font-size: 12pt;
  margin: 0 13px;
}

.link-trash {
  font-size: 11pt;
  color: red;
  transition: .4s;
}

.link-trash:hover {
  color: darkred;
}

.btn-cor {
  color: #ffffff;
  border: none;
  height: 40px;
  min-width: 40px;
  margin-top: 4px;
  margin-left: 3px;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.btn-cor i {
  font-size: 9pt;
}

.body-modal-alt {
  margin-top: 0px !important;
  padding-top: 0px !important;
  max-height: 435px !important;
  overflow-y: auto;
}

/* Barra de rolagem */
.body-modal-alt::-webkit-scrollbar {
  width: 5px;
}

.body-modal-alt::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.body-modal-alt::-webkit-scrollbar-thumb {
  background-color: #a0cdfed6;
  border-radius: 20px;
}


/* Botão "scroll to top" */
.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.scroll-top-btn:hover {
  background-color: #555;
}

.form-control {
  height: 36px;
  margin-top: 4px;
}

.input-group-prepend span {
  margin-top: 4px;
  height: 36px;
}

.btn-cep {
  width: 36px;
  height: 36px;
  transition: 1s;
}

.btn-cep:hover {
  background-color: #16891a;
}

.hidden {
  display: none;
}

.error-Msg div {
  position: relative;
}

.errorMsg {
  font-style: normal;
  font-size: 10pt;
  position: absolute;
  bottom: -1.5em;
  color: rgb(255, 0, 0);
  right: 1.1em;
}

.position-error {
  right: 4.2em;
}

.errorMsg-modal div {
  position: relative;
}

.errorMsg-modal {
  font-size: 10pt;
  position: absolute;
  bottom: -1.6em;
  color: rgb(255, 60, 0);
  right: 4.2em;
}

.header-endereco {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.header-endereco h3 {
  font-size: 1.1em;
  font-weight: normal;
  flex-shrink: 0;
  color: rgb(0, 58, 171);
}

.header-endereco i {
  font-size: .9em;
}

#hr-ende {
  margin: 0;
  height: 3px;
  flex-shrink: 0;
  background-color: rgb(0, 58, 171);
  border-radius: 5px;
  border: none;
  padding: 0;
}


.modal-header {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  justify-content: flex-start;
  align-content: flex-end;
  display: flex;
}

.modal-title {
  margin-left: 16px;
  margin-top: 10px;
  font-size: 12pt;
  font-weight: bold;
  color: #4e4f6a;
  text-align: center;
}

.modal-body p {
  color: #4e4f6a;
  font-size: 12pt;
  text-align: justify;
}

/* Botão de fechar */
.close-mod {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #e24343;
  border: none;
  border-radius: 10px;
  width: 39px;
  height: 36px;
  color: white;
  transition: 0.5s;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3) !important;
}

.close-mod span {
  font-size: 12pt;
}
.close-mod:hover {
  color: white;
  background-color: darkred;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.7);
}

/* Efeito de transição do modal */
.modal {
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  padding: 15px;
}

.hidden {
  display: none;
}

.button {
  margin-top: 10px;
  margin: 1px;
  padding: 9px 7px;
  min-width: 140px;
  background-color: #1f1f33;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(40, 40, 40);
  text-decoration: none;
  color: white;
}

@media(max-width: 700px) {
  .button {
    min-width: 110px;
  }
}

@media(max-width: 700px) {
  .button {
    min-width: 100px;
  }

  .container-opcoes {
    justify-content: space-between;
  }
}

@media(max-width: 500px) {
  .container-opcoes {
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 1;
  }
}