<div class="container-components">
    <app-mensagens></app-mensagens>
    <div class="header">
        <h3 [class.red-color]="inativosSelect">
            <i class="fa fa-users"></i>
            {{tituloPag}}
        </h3>
        <hr class="hr">
        <div class="container-buttons">
            <div>
                <button class="btn button grenn" (click)="GetAtivos()">Ativos</button>
                <button class="btn button red" (click)="GetInativos()">Inativos</button>
            </div>
            <div>
                <a class="btn button blue" routerLink="/cliente-juridico"><i class="fa fa-users"></i>
                    Jurídicos</a>
                <a class="btn button blue" routerLink="/cliente/newcliente"><i class="fa fa-plus"></i>
                    Cliente</a>
            </div>
        </div>
    </div>
    <div class="table-container">
        <div *ngIf="clienteList.length else listnull">
            <table class="table shadow-sm p-3 mb-5 bg-white rounded">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Cidade</th>
                        <th scope="col" *ngIf="!larguraMinima">Classe do cliente</th>
                        <th scope="col">Opção</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of clienteList">
                    <tr class="row-hover">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.telefone}}</td>
                        <td>{{item.cidade}}</td>
                        <td *ngIf="!larguraMinima">Pessoa física</td>
                        <td *ngIf="item.status == 0 else funcionarioInativo">
                            <a class="link" routerLink="/cliente/editcliente/{{item.id}}"><i
                                    class="fa fa-edit"></i></a>
                            <a routerLink="/cliente" class="link link-trash" (click)="AbrirModalGerir(item)"><i class="fa fa-trash-alt"></i></a>
                        </td>
                        <ng-template #funcionarioInativo>
                            <td>
                                <a routerLink="/cliente" class="link" (click)="AbrirModalGerir(item)"><i class="fa fa-user-gear"></i></a>
                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
            <div class="pagination" *ngIf="!inativosSelect; else paginateInativos">
                <li class="page-item anterior" [class.disabled]="compartilhamento.getPaginaAtualCliente() == 1">
                    <a class="page-link shadow-sm" tabindex="-1" (click)="anteriorAtivosPaginate()"><i
                            class="fa fa-arrow-left"></i></a>
                </li>
                <li class="page-item disabled">
                    <p class="page-link shadow-sm">
                        {{compartilhamento.getPaginaAtualCliente()}}/{{compartilhamento.getTotPaginaCliente()}}
                    </p>
                </li>
                <li class="page-item proximo"
                    [class.disabled]="compartilhamento.getPaginaAtualCliente() == compartilhamento.getTotPaginaCliente()">
                    <a class="page-link shadow-sm" tabindex="-1" (click)="proximoAtivosPaginate()"><i
                            class="fa fa-arrow-right"></i></a>
                </li>
            </div>
            <ng-template #paginateInativos>
                <div class="pagination">
                    <li class="page-item anterior" [class.disabled]="compartilhamento.getPaginaAtualCliente() == 1">
                        <a class="page-link shadow-sm" tabindex="-1" (click)="anteriorInativosPaginate()"><i
                                class="fa fa-arrow-left"></i></a>
                    </li>
                    <li class="page-item disabled">
                        <p class="page-link shadow-sm">
                            {{compartilhamento.getPaginaAtualCliente()}}/{{compartilhamento.getTotPaginaCliente()}}
                        </p>
                    </li>
                    <li class="page-item proximo"
                        [class.disabled]="compartilhamento.getPaginaAtualCliente() == compartilhamento.getTotPaginaCliente()">
                        <a class="page-link shadow-sm" tabindex="-1" (click)="proximoInativosPaginate()"><i
                                class="fa fa-arrow-right"></i></a>
                    </li>
                </div>
            </ng-template>
        </div>
        <ng-template #listnull>
            <table class="table shadow-sm p-3 mb-5 bg-white rounded">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Cidade</th>
                        <th scope="col" *ngIf="!larguraMinima">Classe do cliente</th>
                        <th scope="col">Opção</th>
                    </tr>
                </thead>
                <tr class="row-hover">
                    <td colspan="7">{{mensagem}}</td>
                </tr>
            </table>
        </ng-template>
    </div>
</div>